@font-face {
  font-family: AAstroSpace;
  src: url('../fonts/AstroSpace-eZ2Bg.ttf');
}

body {
  background-color: black;
}
img {
  filter: invert(1);
  width: 100%;
  margin-top: 32vh;
}
.block {
  display: block;
  width: 100%;
  height: 70vh;
  border: none;
  font-size: 16px;
  font-family: AAstroSpace;
  background-color: darkred;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 5vh;
  border: 3px solid white;
  margin-top: 14vh;
  margin-bottom: 14vh;
}
.light {
  width: 100%;
  height: 70vh;
  font-family: AAstroSpace;
  background-color: yellow;
  border-radius: 5vh;
  border: 3px solid white;
  margin-top: 14vh;
  margin-bottom: 14vh;
}
#LeftCol {
  padding-left: 0px;
}
#RightCol {
  padding-right: 0px;
}
.center {
  width: 100%;
  border: 3px solid white;
  border-radius: 5vh;
  margin: 0px;
}
